<div class="container">
    <div class="pd-5 d-flex mt-5 align-items-center">
        <div class="line">
            <hr>
        </div>
        <span class="title d-flex align-items-center dybella-text">Configuración del sistema
        </span>
        <div>
            <!-- <mat-spinner *ngIf="loading" class="loading-spinner" diameter="50"></mat-spinner> -->
        </div>
    </div>
    <div class="pd-5">
        <app-view-form-settings [data]="company" (color)="setColor($event);" (submit)="submitSettings($event)" (nameCompany)="getNameCompany($event)"></app-view-form-settings>
    </div>
</div>  