@import '../../../../styles.scss';

.line {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .header_hr {
        // border: 0.1px solid mat-color(md-mcgpalette0 );
        border: none;
        // border-bottom: 1px solid mat-color(md-mcgpalette0);
        width: 100px;
    }
}

.title {
    font-size: 30px;
    margin: 5px;
    color: #6d6868;
}

.container_perfil {
    margin: 40px
}

.perfil {
    // border:1px solid #ccc;
    width: 100%;

    .background {
        display: flex;
        // padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portada {
        height: 270px;
        background-image: url('/assets/img/portada_2.jpg');
        background-size: cover;
        background-position: center;
        // border-radius: 10px;
        background-repeat: no-repeat;
        width: 100%;

    }

    .photo_perfil {
        margin-top: -20px;
        display: flex;
        margin: -70px 0px 0px 40px;
        width: 70%;
        padding-bottom: 10px;
        .border-inicials{
            border: 3px solid #ffffff;
            border-radius: 50%;
        }

        .nombres {
            width: 100%;
            text-transform: capitalize;
        }

        .botones_editar {
            display: flex;
            align-items: center;
            margin: 10px;
            margin-top: 40px;
        }
    }

    .nombre {
        display: flex;
        align-items: center;
        margin: 10px;
        margin-top: 50px;

        span {
            font-size: 25px;
        }
    }

    .muro_div_principal {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;

        .muro {
            display: flex;
            width: 70%;
            margin: 15px;

            .info {
                width: 20%;

                // margin:10px;
                .descripcion {
                    font-size: 15px;
                }

                .valor {
                    font-size: 14px;
                    color: #979292
                }
            }

            .vertical_hr {
                border: none;
                border-left: 1px solid #ccc;
                width: 1px;
            }

            .history {
                width: 80%;
                .title-activity{
                    margin:6px 0px 5px 12px;
                    span {
                        color:grey;
                    }
                }
                mat-list-item {
                    padding: 8px;

                    .listado_muro {
                        cursor: pointer;

                        .nombre_muro {
                            display: flex;
                            margin: 5px;
                            align-items: center;
                            // color: #979393;
                            font-size: 14px;
                        }

                        .nombre_inicial {
                            padding: 5px;

                            .inicial_muro {
                                display: flex;
                                align-items: center;
                            }
                        }

                        .descripcion_muro {
                            font-family: 'CaviarDreams' !important;
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            color: #979393;
                        }

                        .icono_accion {
                            // color: mat-color(md-mcgpalette0);
                        }
                    }
                }
            }
        }
    }
}

.example-viewport {
    height: 480px;
    // width: 200px;
    // border: 1px solid black;
}

.fecha_estado {
    font-family: "CaviarDreams" !important;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #979393;
}

.valor-profile {
    font-size: 15px !important;

}