<div mat-dialog-title class="d-flex justify-content-center align-items-center title-dialog">
    <div class="pd-3">
       ¿Estás seguro?
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography ">
    <span class="description">
        Vas a <b>{{data?.status  == 2 ? 'cancelar' : 'confirmar'}}</b> el turno de <b>{{data?.shift?.client.name}} </b>
    </span>
    <div>
        <mat-form-field class="col-12 mt-3" *ngIf="data?.status == 1">
            <mat-label>Precio</mat-label>
            <input matInput   [(ngModel)]="price">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button  (click)="onClose(false)">Cancelar</button>
    <button mat-button color="primary" (click)="onClose(true);">Confirmar</button>
</mat-dialog-actions>