<div mat-dialog-title class="d-flex justify-content-center align-items-center title-dialog">
    <div class="pd-3">
       ¿Estás seguro?
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography ">
    <div *ngIf="!data?.text else generic">
        <span class="description">
            Vas a <b>{{data?.status  == 2 ? 'cancelar' : 'confirmar'}}</b> el turno de <b>{{data?.shift?.client.name}} </b>
        </span>
        <div>
            <mat-form-field class="col-12 mt-3" *ngIf="data?.status == 1">
                <mat-label>Precio</mat-label>
                <input matInput [(ngModel)]="price">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="col-12 mt-3" *ngIf="data?.status == 1">
                <mat-label>Observaciones</mat-label>
                <textarea matInput rows="5" cols="40" class="description"  [(ngModel)]="description"  ></textarea>
            </mat-form-field>
        </div>
    </div>
    <ng-template #generic>
        <div class="text-center" [innerHTML]="data?.text"></div>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <a mat-button  (click)="onClose(false)">Cancelar</a>
    <a mat-button class="confirm-dialog" (click)="onClose(true);">Confirmar</a>
</mat-dialog-actions>