<div class="d-flex">
    <mat-calendar #matcalendar class="mat-calendar " [dateClass]="dateClass" (selectedChange)="onDateSelect($event)"
        (monthSelected)="onDateSelect($event)" (yearSelected)="onDateSelect($event)">
        </mat-calendar>

    <div class="list-shifts">
        <app-view-shifts-diary [shifts]="shifts"></app-view-shifts-diary>
    </div>

    <div class="add_work">
        <button mat-fab (click)="addShift();" *ngIf="date"><span class="material-icons text-white">add</span></button>
    </div>
</div>