
<div class="container">
    <div class="pd-5 d-flex mt-5 align-items-center">
        <div class="line">
            <hr>
        </div>
        <span class="title d-flex align-items-center dybella-text">Servicios
        </span>
    </div>
    <div class="pd-5">
        <app-view-table-services [columns]="columns" [data]="services"></app-view-table-services>
    </div>
</div>
<div class="add_work">
    <button mat-fab (click)="addService();"><span class="material-icons">add</span></button>
</div>
