<div class="container">
    <div class="pd-5 d-flex mt-5 align-items-center">
        <div class="line">
            <hr>
        </div>
        <span class="title d-flex align-items-center dybella-text">{{id ? 'Editar' : 'Crear'}} turno
        </span>
        <div>
            <mat-spinner *ngIf="loading" class="loading-spinner" diameter="50"></mat-spinner>
        </div>
    </div>
    <div class="pd-5" *ngIf="!shifts?.length;else selectedShifts">
        <app-view-form-shifts [date]="date" [shift]="shift" [client]="client"
            (loading)="getLoading($event)"></app-view-form-shifts>
    </div>
    <ng-template #selectedShifts>
        <div class="pd-5">
            <app-view-selected-shifts [shifts]="shifts"></app-view-selected-shifts>
        </div>
    </ng-template>
</div>