.header-main {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .mobile-menu-btn {
        display: none;
    }


    .img-logo {
        width: 100px
    }

    .material-icons {
        color: white !important;
    }

    .btns-logo-header {
        width: 70%;
        margin: 20px;
        display: flex;
        align-items: center;

        .div-btns {
            margin: 20px;
            display: flex;
            align-items: center;

            button {
                color: white !important;
            }
        }
    }

    .div-btn-exit {
        .incials {
            margin: 10px;
        }

        .action-exit {
            display: flex;
            align-items: center;
        }

        justify-content: flex-end;
        width: 30%;

        .hour {
            color: white;
            margin: 30px;
            font-size: 25px
        }
    }
}

.toolbar-btn {
    color: white !important;
}


@media only screen and (max-width: 767px) {
    .btns-logo-header {
        display: none;
    }

    .mobile-menu-btn {
        display: flex !important;
        align-items: center;
    }

    .mobile-menu {
        display: none;
    }

    .show-menu {
        display: block !important;
    }

    .hour {
        display: none;
    }

    .buttons-desktop {
        display: none !important;
    }

    .div-btns {
        padding: 10px;
    }
}


.mobile-menu {
    display: none;
}