
<mat-toolbar color="primary" *ngIf="userData?.status && !excludePage" >
    <div class="header-main">
        <div class="mobile-menu-btn">
            <!-- Agrega un botón de menú para dispositivos móviles -->
            <button mat-icon-button (click)="toggleMobileMenu()">
                <span class="material-icons">menu</span>
            </button>
        </div>
        <div class="btns-logo-header">
            <a [routerLink]="['/logged/home']" class="url-logo">
                <img [src]="imgLogo?.configuration_value" class="img-logo" alt="" *ngIf="imgLogo?.configuration_value;else noImg">
                <ng-template #noImg>
                    <span class="name-company">
                        {{companyData?.name}}
                    </span>
                </ng-template>
            </a>
                <div class="d-flex m-3 buttons-desktop">
                    <div class="div-btns"  *ngxPermissionsOnly="['VIEW_HOME']">
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/home'] "
                            matTooltip="Inicio">Inicio</a>
                    </div>
                    <div class="div-btns"  *ngxPermissionsOnly="['VIEW_CLIENTS']">
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/clients'] "
                            matTooltip="Clientes">Clientes</a>
                    </div>
                    <div class="div-btns"  >
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/diary'] "
                            matTooltip="Agenda">Agenda</a>
                    </div>
                    <div class="div-btns"  *ngxPermissionsOnly="['VIEW_SHIFTS']">
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/shifts'] "
                            matTooltip="Turnos">Turnos</a>
                    </div>
                    <div class="div-btns"  *ngxPermissionsOnly="['VIEW_SERVICES']">
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/services'] "
                            matTooltip="Turnos">Servicios</a>
                    </div>
                    <div class="div-btns" *ngxPermissionsOnly="['VIEW_USERS']">
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/users'] "
                            matTooltip="Usuarios">Usuarios</a>
                    </div>
                    <div class="div-btns"  *ngxPermissionsOnly="['VIEW_REPORTS']" >
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/reports'] "
                            matTooltip="Reportes">Reportes</a>
                    </div>
                    <div class="div-btns"  *ngxPermissionsOnly="['VIEW_CAMPAIGNS']" >
                        <a mat-button class="toolbar-btn" [routerLink]="['/in/campaigns'] "
                            matTooltip="Reportes">Campañas</a>
                    </div>
                </div>
            </div>
      
        <div class="d-flex align-items-center div-btn-exit">
            <div class="hour">
                {{ hour }}
            </div>
            <div class="d-flex align-items-center justify-content-center mr-2" *ngIf="tasksData?.length">
                <div class="d-flex align-items-center " [matMenuTriggerFor]="menu">
                  <mat-spinner class="loading-spinner" diameter="20"></mat-spinner>
                  <span class="description-work cursor-pointer" *ngIf="tasksData[0]?.status === 'processing'">
                    {{tasksData?.length}} Tarea(s) corriendo
                    <mat-icon>more_vert</mat-icon>
                  </span>
                  <span class="description-work cursor-pointer" *ngIf="tasksData[0]?.status === 'pending' || tasksData[0]?.process">
                    {{tasksData?.length}} Tarea(s) en espera
                  </span>
                </div>
                <mat-menu #menu="matMenu">
                  <div mat-menu-item *ngFor="let task of tasksData">
                    <span *ngIf="task?.status === 'processing'; else notProcess">
                      <img src="./assets/img/loading.gif" width="15" class="m-2" alt="">
                      Enviando campaña de {{task?.type == 'email' ? 'emails' : 'Wsp'}} ({{task?.percentage_completed}}%)
                    </span>
                    <ng-template #notProcess>
                      Campaña de {{task?.type == 'email' ? 'emails' : 'wsp'}} en espera
                    </ng-template>
                  </div>
                </mat-menu>
              </div>
            <div>
         <span [matBadge]="notifications.length"  matTooltip="Notificaciones" (click)="openBottomSheet()"   matBadgeColor="warn" class="material-icons notifications">notifications</span>
            </div>
            <div >
                <a mat-icon-button [matMenuTriggerFor]="menu">
                <span class="material-icons">settings</span>
                </a>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item class="" matTooltip="Configuración" [routerLink]="['/in/settings/']" class="d-flex" *ngxPermissionsOnly="['VIEW_SETTINGS']">
                       <div class="d-flex align-items-center">
                           <span class="material-icons pd-1">settings</span>
                           <span class="pd-1">Ajustes de la empresa</span>
                       </div>
                    </a>
                    <mat-divider></mat-divider>
                    <a mat-menu-item class="d-flex" [routerLink]="['/in/users/view-user']" [queryParams]="{id: userData?.data?.id}" matTooltip="Configuración de la cuenta">
                        <div class="d-flex align-items-center">
                            <span class="material-icons pd-1">person</span>
                            <span class="pd-1">Cuenta</span>
                        </div>
                    </a>
                  </mat-menu>
            </div>
            <div class="d-flex">
                <div class="d-flex align-items-center incials">
                    <app-iniciales color="primary" [matMenuTriggerFor]="menu" class="iniciales-nav" color="#eaeaea" size="15px" [text]="userData?.data?.name" width="40px" height="40px"></app-iniciales>
                </div>
                <div class="action-exit">
                    <button mat-icon-button matTooltip="Cerrar sesión" (click)="logout(companyData?.id)">
                        <span class="material-icons">input</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
<mat-toolbar color="primary"  class="mobile-menu h-100"  [ngClass]="{'show-menu': isMobileMenuOpen}">
    <div class="div-btns" *ngxPermissionsOnly="['VIEW_HOME']">
        <a mat-button class="toolbar-btn" [routerLink]="['/in/home'] "
            matTooltip="Inicio">Inicio</a>
    </div>
    <div class="div-btns" *ngxPermissionsOnly="['VIEW_CLIENTS']">
        <a mat-button class="toolbar-btn" [routerLink]="['/in/clients'] "
            matTooltip="Clientes">Clientes</a>
    </div>
    <div class="div-btns" *ngxPermissionsOnly="['VIEW_DIARY']">
        <a mat-button class="toolbar-btn" [routerLink]="['/in/diary'] "
            matTooltip="Agenda">Agenda</a>
    </div>
    <div class="div-btns" *ngxPermissionsOnly="['VIEW_SHIFTS']">
        <a mat-button class="toolbar-btn" [routerLink]="['/in/shifts'] "
            matTooltip="Turnos">Turnos</a>
    </div>
    <div class="div-btns" *ngxPermissionsOnly="['VIEW_SERVICES']">
        <a mat-button class="toolbar-btn" [routerLink]="['/in/services'] "
            matTooltip="Turnos">Servicios</a>
    </div>
    <div class="div-btns" *ngxPermissionsOnly="['VIEW_USERS']">
        <a mat-button class="toolbar-btn" [routerLink]="['/in/users'] "
            matTooltip="Usuarios">Usuarios</a>
    </div>
    <div class="div-btns" *ngxPermissionsOnly="['VIEW_REPORTS']">
        <a mat-button class="toolbar-btn" [routerLink]="['/in/reports'] "
            matTooltip="Reportes">Reportes</a>
    </div>
    <div class="div-btns"  *ngxPermissionsOnly="['VIEW_CAMPAIGNS']" >
        <a mat-button class="toolbar-btn" [routerLink]="['/in/campaigns'] "
            matTooltip="Reportes">Campañas</a>
    </div>
</mat-toolbar>