<mat-card>
    <mat-card-header>
        <span class="title-service">
            <span class="material-icons text-white">info</span>
            <span class="text-white">
                Servicios a prestar hoy
            </span>
          
        </span>
    </mat-card-header>
    <mat-card-content>
        <mat-list *ngIf="shifts?.today_service.length >0;else noServiceToday">
            <div *ngFor="let serviceToday of shifts?.today_service">
                <mat-list-item lines="">
                    <div class="d-flex list-shifts">
                        <div class="description">
                            <span class="description-servicetoday">
                                {{serviceToday?.name}}
                            </span>
                            <div class="bagde-count">
                                {{serviceToday?.count}}
                            </div>
                        </div>
                        <div class="price">
                            {{ serviceToday?.price?.price | currency:'$':'symbol':'1.2-2' }}
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
        <ng-template #noServiceToday>
            <div class="mt-3 pd-3 m-3">
                Sin servicios a prestar hoy
                <mat-divider></mat-divider>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>