<div class=" d-flex info-cards">
    <div class="col-md-4 d-flex div-cards-info-father">
        <div class="d-flex  children-cards ">
            <div class="card-info ">
                <div class="card-description">
                    <h3 class="text-white">{{data?.all_clients_count}} Cliente(s)</h3>

                </div>
                <div class="icon">
                    <span class="material-icons">group</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex div-cards-info-father">
        <div class="d-flex children-cards m-left-1">
            <div class="card-info">
                <div class="card-description">
                    <h3 class="text-white">{{data?.all_services_count}} Servicio(s)</h3>

                </div>
                <div class="icon">
                    <span class="material-icons">info</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex div-cards-info-father">
        <div class="d-flex children-cards m-left-1">
            <div class="card-info">
                <div class="card-description">
                    <h3 class="text-white">{{data?.all_shifts_count}} Turno(s)</h3>
                </div>
                <div class="icon">
                    <span class="material-icons">list</span>
                </div>
            </div>
        </div>
    </div>
</div>