<div class="info-cards-grid">
    <mat-card class="info-card">
        <div class="info-card-content">
            <div class="info-card-text">
                <h3>{{data?.all_clients_count || 0}}</h3>
                <p>Clientes</p>
            </div>
            <mat-icon class="info-card-icon">group</mat-icon>
        </div>
    </mat-card>

    <mat-card class="info-card">
        <div class="info-card-content">
            <div class="info-card-text">
                <h3>{{data?.all_services_count || 0}}</h3>
                <p>Servicios</p>
            </div>
            <mat-icon class="info-card-icon">spa</mat-icon>
        </div>
    </mat-card>

    <mat-card class="info-card">
        <div class="info-card-content">
            <div class="info-card-text">
                <h3>{{data?.all_shifts_count || 0}}</h3>
                <p>Turnos</p>
            </div>
            <mat-icon class="info-card-icon">event</mat-icon>
        </div>
    </mat-card>
</div>