.search-mat {
    width: 100%;
}

.add-client {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-client {
        width: 95%;
    }

    .div-btn-add-client {
        display: flex;
        justify-content: flex-end;

        .btn-client {
            width: 30px;
            height: 30px;
            text-align: center;
            margin: 10px;

            .size-add {
                font-size: 15px !important;
                text-align: center;
            }

        }
    }
}
.last-shift{
    margin: 5px;
    color: #939393;
    font-size: 13px;
}

.add-client-option {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .mdc-list-item__primary-text {
        width: 100%;
    }
}