<div class="container mt-5 mb-5">
    <mat-card >
        <mat-card-content>
            <form [formGroup]="form" class="m-3">
                <mat-form-field appearance="fill" class="col-12 mt-3">
                    <mat-label>Fecha del turno </mat-label>
                    <input matInput [disabled]="loadingForm" [min]="dateNow"  [matDatepicker]="picker" formControlName="date_shift" (click)="picker.open();">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="col-12 mt-3">
                    <mat-label>Hora del turno </mat-label>
                    <input matInput [disabled]="loadingForm"    [ngxTimepicker]="fullTime" [format]="24"  readonly formControlName="hour">
                    <ngx-material-timepicker #fullTime [theme]="dybellaTheme"></ngx-material-timepicker>
                </mat-form-field>
                <mat-form-field class="col-12 mt-3">
                    <mat-label>Servicio</mat-label>
                    <mat-select formControlName="service_id" [disabled]="loadingForm"  (selectionChange)="onSelect('service');">
                        <mat-form-field class="col-12 mt-3">
                        <mat-label>Buscar Servicio</mat-label>
                        <input matInput [formControl]="searchCtrlService" class="search-mat" >
                    </mat-form-field>
                        <mat-option *ngFor="let service of filteredService" [value]="service?.id">{{service?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-12 mt-3">
                    <mat-label>Precio</mat-label>
                    <input matInput [disabled]="loadingForm"  formControlName="price">
                </mat-form-field>
                <mat-form-field class="col-12 mt-3">
                    <mat-label>Cliente</mat-label>
                    <mat-select formControlName="client_id" [disabled]="loadingForm"  (selectionChange)="onSelect('client');">
                        <mat-form-field class="col-12 mt-3">
                        <mat-label>Buscar Cliente</mat-label>
                        <input matInput [formControl]="searchCtrlClient" class="search-mat" >
                    </mat-form-field>
                        <mat-option *ngFor="let client of filteredClients" [value]="client?.id" >{{client?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-12 mt-3">
                    <mat-label>Usuario a asignar turno</mat-label>
                    <mat-select [disabled]="loadingForm" formControlName="user_id" (selectionChange)="onSelect('user');">
                        <mat-form-field class="col-12 mt-3">
                        <mat-label>Buscar Usuario</mat-label>
                        <input matInput [formControl]="searchCtrlUsers" class="search-mat" >
                    </mat-form-field>
                        <mat-option *ngFor="let user of filteredUsers" [value]="user?.id">{{user?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="col-md-12 description mt-3">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput rows="5" cols="40" class="description" formControlName="description" [disabled]="loadingForm" ></textarea>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button color="primary" [disabled]="!form.valid || submitForm" (click)="submit()" class="btn-custom col-12">Enviar</button>
        </mat-card-footer>
    </mat-card>
</div>

