
<div class="container">
    <div class="pd-5 d-flex mt-5 align-items-center">
        <div class="line">
            <hr>
        </div>
        <span class="title d-flex align-items-center dybella-text">Clientes
        </span>
    </div>
    <div class="pd-5">
        <app-view-table-clients [columns]="columns" [data]="clients" (delete)="destroy($event)"></app-view-table-clients>
    </div>
</div>
<div class="add_work" *ngxPermissionsOnly="['CREATE_CLIENT']">
    <button mat-fab (click)="addClient();"><span class="material-icons text-white">add</span></button>
</div>
