@import '../../../../styles.scss';

.login-container {
    height: 90vh;

    .material-icons {
        color: map-get($md-mcgpalette0, 500);
    }

    .logo {
        width: 50%;
        margin: 20px;
    }

    .loading-login {
        position: absolute;
        right: 0;
        margin-right: 25px;
        margin-top: 5px;
    }
}