<mat-card>
    <mat-card-header>
        <span class="title-service">
            <span class="material-icons text-white">celebration</span>
            <span class="text-white">Cumpleaños</span>
        </span>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <div *ngFor="let client of clients">
                <mat-list-item  *ngIf="calculateAge(client?.date_birthday) >0">
                    <div class="d-flex list-shifts">
                        <div class="description">
                            <span class="description-servicetoday">
                                {{client?.name}}, {{calculateAge(client?.date_birthday)}} años
                            </span>
                        </div>
                        <div class="price">
                            <a mat-button (click)="sendWsp(client)"><img src="./assets/img/wsp.png" alt=""
                                    width="20"></a>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider *ngIf="calculateAge(client?.date_birthday) >0"></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>