<mat-card class="birthday-card">
    <mat-card-header>
        <mat-card-title>
            <mat-icon>cake</mat-icon>
            <span>Cumpleaños</span>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-nav-list>
            <ng-container *ngFor="let client of clients">
                <mat-list-item *ngIf="calculateAge(client?.date_birthday) > 0">
                    <div class="birthday-item">
                        <div class="client-info">
                            <span class="client-name">{{client?.name}}</span>
                            <mat-chip color="accent" selected>
                                {{calculateAge(client?.date_birthday)}} años
                            </mat-chip>
                        </div>
                        <button mat-icon-button (click)="sendWsp(client)" [disabled]="!client?.phone"
                            matTooltip="Enviar felicitación">
                            <img src="./assets/img/wsp.png" alt="WhatsApp" width="20">
                        </button>
                    </div>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-card-content>
</mat-card>