<mat-list role="list" *ngIf="employe?.shifts?.length >0;else notShifts">
    <div *ngFor="let shift of employe?.shifts"
        [ngClass]="{'show' : shift?.status == 1  ? true : false , 'pending': shift?.status == 0 ? true : false , 'no-show' : shift?.status == 2 }">
        <mat-list-item lines="">
            <div class="d-flex list-shifts" >
                <div class="description" [matTooltip]="getTootlip(shift)">
                    <mat-checkbox color="primary" (change)="checkbokShift($event.checked, shift)"
                        *ngIf="edit">
                    </mat-checkbox>
                    <b>{{ shift?.date_shift | date:'HH:mm' }}</b>
                    <span class="">
                        {{shift?.service?.name}}
                    </span>
                    <span class="client-name" [routerLink]="['/in/profile/']"
                        [queryParams]="{client: shift?.client?.id}">
                        <b>{{shift?.client?.name}}</b>
                        <mat-icon>link</mat-icon>
                    </span>
                    <span *ngIf="!edit">
                        | {{shift?.description ? shift?.description : 'Sin observaciones'}}
                    </span>
                </div>
           
                <div class="actions">
                    
                    <div *ngxPermissionsOnly="['CONFIRM_SHIFT']">
                        <button class="btn-action" *ngIf="shift?.status ==0 && edit" (click)="changeStatus(shift,1)">
                            <span class="material-icons">done</span>
                        </button>
                    </div>
                    <div *ngxPermissionsOnly="['CANCEL_SHIFT']">
                    <button class="btn-action" *ngIf="shift?.status ==0 && edit" (click)="changeStatus(shift,2)">
                        <span class="material-icons">close</span>
                    </button>
                </div>
                    <button class="btn-action" (click)="sendWsp(shift)" *ngIf="edit"><img src="./assets/img/wsp.png"
                            alt="" width="20"></button>
                    <a class="btn-action" [routerLink]="['/in/shifts/view-shift']" [queryParams]="{id: shift?.id}">
                        <span class="material-icons">visibility</span></a>
                </div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </div>
</mat-list>
<ng-template #notShifts>
    <div class="d-flex justify-content-center align-items-center ">
        <mat-list class="col-md-12">
            <mat-list-item>
                Sin turnos disponibles hoy
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</ng-template>