<div class="list-shifts mt-5">
<mat-card *ngIf="shifts?.length > 0">
    <mat-card-content>
        <mat-list>
            <div *ngFor=" let shift of shifts" [ngClass]="{'show' : shift?.status == 1  ? true : false , 'pending': shift?.status == 0 ? true : false , 'no-show' : shift?.status == 2 }">
                <mat-list-item>
                    <div class="d-flex">
                        <div class="description" [matTooltip]="getTootlip(shift)">
                            <b>{{ shift?.date_shift | date:'HH:mm' }}</b>
                            {{shift?.service?.name}} a <b>{{shift?.client?.name}}</b>
                            el día {{ shift?.date_shift |
                            date:'dd/MM/YYYY' }}
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                          <div class="price-shift">
                            <span> {{ shift?.price === "0.00" ? 'GRATIS' : shift?.price| currency:'$':'symbol':'1.2-2'  }}</span>
                          </div>
                        </div>
                        <div class="actions">
                            <button class="btn-action" (click)="sendWsp(shift)"><img src="./assets/img/wsp.png"
                                    alt="" width="20"></button>
                            <button class="btn-action"> <span class="material-icons">search</span></button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>
</div>