<div class="list-shifts mt-5">
    <mat-card>
   <mat-card-header>
   <div class="text-header">
    Turnos de {{getMonthName()}}
</div>
    <div class="d-flex introduction">
        <div class="d-flex m-2 align-items-center">
            <div class="show box m-1 align-items-center"></div>
            <span class="text-introduction m-1">Asistió</span>
        </div>
        <div class="d-flex m-2">
            <div class="no-show box m-1 align-items-center"></div>
            <span class="text-introduction m-1">No asistió/Cancelada</span>
        </div>
        <div class="d-flex m-2">
            <div class="pending box m-1 align-items-center"></div>
            <span class="text-introduction m-1">Pendiente</span>
        </div>
    </div>
   </mat-card-header>     
    <mat-card-content>
        <mat-list>
            <div *ngFor="let dateShift of shifts">
          <div class="m-3 d-flex justify-content-center">
           <b>{{dateShift?.date |date : 'dd/MM/yyyy'}}</b>
          </div>
            <div *ngFor=" let shift of dateShift?.shifts" [ngClass]="{'show' : shift?.status == 1  ? true : false , 'pending': shift?.status == 0 ? true : false , 'no-show' : shift?.status == 2 }">
                <mat-list-item>
                    <div class="d-flex">
                        <div class="description" [matTooltip]="getTootlip(shift)">
                            <b>{{ shift?.date_shift | date:'HH:mm' }}</b>
                            {{shift?.service?.name}} a <b>{{shift?.client?.name}}</b>
                            el día {{ shift?.date_shift |
                            date:'dd/MM/YYYY' }}
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                          <div class="price-shift">
                            <span> {{ shift?.price === "0.00" ? 'GRATIS' : shift?.price| currency:'$':'symbol':'1.2-2'  }}</span>
                          </div>
                        </div>
                        <div class="actions">
                            <button class="btn-action">
                                <span class="material-icons" >done</span>
                            </button>
                            <button class="btn-action">
                                <span class="material-icons" >close</span>
                            </button>
                            <button class="btn-action" (click)="sendWsp(shift)"><img src="./assets/img/wsp.png"
                                    alt="" width="20"></button>
                            <button class="btn-action"  [routerLink]="['/in/shifts/view-shift']" [queryParams]="{id: shift?.id}"> <span class="material-icons">search</span></button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </div>
            <div class="pd-8 d-flex justify-content-center text-center" *ngIf="shifts?.length == 0;">
                Sin turnos para esta fecha
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>
</div>