<div class="container mt-3 mb-5">
    <mat-card id="top">
            <div class="loading-login" >
                <!-- <mat-spinner  diameter="20"></mat-spinner> -->
            </div>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field class="col-12 mt-3">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="col-12 mt-3">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field class="col-12 mt-3" *ngIf="!data">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <mat-form-field class="col-12 mt-3">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let rol of roles" [value]="rol?.name">
                        {{rol?.name}}
                    </mat-option>
                    </mat-select>
                  </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button class="btn-custom col-12" (click)="submitForm()" [disabled]="!form.valid">
                Guardar
            </button>
        </mat-card-footer>
    </mat-card>
</div>

