<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <div class="d-flex ">
                <div class="card-info">
                    <div class="card-description">
                        <h3 class="text-white">6 Clientes</h3>
                        <div class="description">
                            <span>
                                Turnos al 04/11/2023
                            </span>
                        </div>
                    </div>
                    <div class="icon">
                        <span class="material-icons">group</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex ">
                <div class="card-info">
                    <div class="card-description">
                        <h3 class="text-white">6 Clientes</h3>
                        <div class="description">
                            <span>
                                Turnos al 04/11/2023
                            </span>
                        </div>
                    </div>
                    <div class="icon">
                        <span class="material-icons">group</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex ">
                <div class="card-info">
                    <div class="card-description">
                        <h3 class="text-white">6 Clientes</h3>
                        <div class="description">
                            <span>
                                Turnos al 04/11/2023
                            </span>
                        </div>
                    </div>
                    <div class="icon">
                        <span class="material-icons">group</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <mat-card></mat-card>
        </div>
    </div>
    <!-- employees -->
    <div class="mt-5 d-flex justify-content-center ">
        <mat-card class="col-md-6 employees" *ngFor="let employe of employeesData">
            <mat-card-header>
                <span>
                    {{employe?.name}}
                </span>
            </mat-card-header>
            <mat-card-content>
                <mat-list role="list">
                    <div *ngFor="let shift of employe?.shifts">
                        <mat-list-item lines="">
                            <div class="d-flex list-shifts">
                                <div class="description">
                                    <span>
                                        {{shift?.name}}
                                    </span>
                                </div>
                                <div class="actions">
                                    <button mat-button><img src="./assets/img/wsp.png" alt="" width="20"></button>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>

                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

</div>