@import '../../../../styles.scss';
.employees {
    margin: 95px 20px 20px 20px;
    border-radius: 1px;
    box-shadow: none !important;

    mat-card-header {
        background-color: map-get($md-mcgpalette0, 500);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        >span {
            font-size: 20px;
            color: white;
        }
    }
}

.list-shifts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description {
        width: 70%;
        width: 70%;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        >span {
            font-size: 15px;
        }
    }

    .actions {
        display: flex;
        width: 30%;
        justify-content: flex-end;

        .btn-action {
            background-color: transparent;
            border: 0px;
            display: flex;
            align-items: center;
            width: 50px;
        }
    }
}

.title-service {
    font-size: 30px;
}

.description-servicetoday {
    font-size: 17px;
}

.no-shifts {
    height: 200px;
}

.float-buttons{
    display: flex;
    flex-direction: column;
    button{
        margin-bottom:10px;
        width:  50px;
        height: 50px;
    }
}