<h2 mat-dialog-title>
    <div class="d_flex justify_content_center align_items_center">
        Enviar WhatSapp a {{data?.name}}
    </div>
</h2>
<mat-dialog-content class="mat-typography mt-5">
    <button mat-button color="primary" (click)="setValueNotif()" *ngIf="data?.service && data?.date_shift">
        <span class="material-icons">notifications</span>
        Recordatorio</button>
    <mat-form-field class="col-md-12 mt-5 description">
        <mat-label>Mensaje</mat-label>
        <textarea matInput rows="5" cols="40" class="description" [value]="notif" [(ngModel)]="notif"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" (click)="onClose()">Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="true" (click)="send();">Enviar</button>
</mat-dialog-actions>