.phone-number{
    margin-left: 25px;
}

@media only screen and (max-width: 600px) {
    .codArea,.phone-number{
        width: 100%;
        margin-left:0px!important;
    }
}


.loading-spinner{
    width: 30px!important;
    color:white!important;
}


