.div-notif-title {
    padding: 10px;

    .title-notif {
        text-align: center;
        font-size: 15px;
    }
}

.shifts-for {
    margin: 15px;
    flex-direction: column;

    .date {
        text-align: center;
        font-weight: 900;
    }
}