@import '../../../../../../styles.scss';

mat-expansion-panel {
    background: transparent !important;

    .title-general {
        padding: 10px 10px 0px 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        // color: mat-color($tareas-primary );
        font-family: "CaviarDreams" !important;
        justify-content: space-between;
        width: 100%;

        .icon-padding {
            padding-right: 10px;
        }
    }

    .filtros {
        display: flex;
    }
}

.btn-tables {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    cursor: pointer;
    border:none!important;
}