<div class="container mt-5 mb-5">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" class="m-3">
                <mat-form-field appearance="fill" class="col-12 mt-3">
                    <mat-label>Nombre de la empresa </mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-12 mt-3">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>

            </form>
            <div class="d-flex">
                <div class="pd-5 d-flex">
                    <div class="p-2">
                        <ngx-colors ngx-colors-trigger [(ngModel)]="toolbar" (change)="changeColor($event, 'toolbar')"></ngx-colors>
                    </div>
                    <mat-label class="p-2 d-flex align-items-center">
                        Color general del sistema
                    </mat-label>
                </div>
                <div class="pd-5 d-flex">
                    <div class="p-2">
                        <ngx-colors ngx-colors-trigger [(ngModel)]="cardHome" (change)="changeColor($event, 'cardHome')"></ngx-colors>
                    </div>
                    <mat-label class="p-2 d-flex align-items-center">
                        Color tarjetas del inicio
                    </mat-label>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button color="primary" [disabled]="!form.valid" (click)="submitForm();"
                class="btn-custom col-12">Enviar</button>
        </mat-card-footer>
    </mat-card>
</div>
